@font-face {
  font-family: "IBM";
  src: url("Ac437_IBM_VGA_8x16.ttf");
}
@font-face {
  font-family: "IBM-Japanese";
  src: url("Px437_IBM_PS-55_re.ttf");
}
:root {
  --primary-font: "IBM";
  --border-color: rgb(90, 90, 90);
  --body-bg-image: ;
}


body {
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: white;
  background-Image: url("background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 40px;
  color: black;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;   
  background-color: rgba(255, 255, 255, 0.9);}

.leftpanel,
.rightpanel {
  flex: 1;
  min-width: 300px;
}

/* Reusable content box */
.box {
  max-width: 400px;
  padding: 10px;
  margin: 10px;
}

.longbox {
  max-width: 900px;
  padding: 10px;
  margin: 10px;
}

h1, h2 {
    color: red;
}

h3{
    color: blue;
}

strong{
    color: #249fde;
}

